[snoopy]
;output = file:/var/log/snoopy.log
output = socket:/var/run/snoopy.sock

message_format = "{"cmdline": "%{cmdline}", "cwd": "%{cwd}", "datetime": "%{datetime}", "domain": "%{domain}", "hostname": "%{hostname}", "egid": "%{egid}", "euid": "%{euid}", "egroup": "%{egroup}", "login": "%{login}", "pid": "%{pid}", "ppid": "%{ppid}", "tty": "%{tty}", "tty_uid": "%{tty_uid}", "tty_username": "%{tty_username}", "username": "%{username}", "eusername": "%{eusername}", "uid": "%{uid}", "ssh": "%{env:SSH_CONNECTION}", "filename": "%{filename}", "gid": "%{gid}", "group": "%{group}", "rpname": "%{rpname}", "sid": "%{sid}", "tid": "%{tid}", "tid_kernel": "%{tid_kernel}"}"
