[Unit]
Description=Sova service

[Service]
Type=simple
ExecStart=/home/hagassaan/projects/sova/target/debug/sova
PIDFile=/tmp/sova.pid

[Install]
WantedBy=multi-user.target
